# Application
ENVIRONMENT=local

# REST API
API_BASE_URL=
API_TOKEN=

# Google Cloud / BigQuery
GCP_PROJECT_ID=
BIGQUERY_DATASET_ID=
BIGQUERY_LOCATION=EU
GOOGLE_APPLICATION_CREDENTIALS=credentials/service-account.json

# Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
